<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-WXP3N2H');</script>
        <!-- End Google Tag Manager -->
    
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>W2B Law</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css?v=2" rel="stylesheet" />
    </head>
    <body id="home">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXP3N2H" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#home">W2B Law</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#o_que_somos">O que somos?</a></li>
                        <li class="nav-item"><a class="nav-link" href="#quem_somos">Quem somos?</a></li>
                        <li class="nav-item"><a class="nav-link" href="#o_que_trabalhamos">O que trabalhamos?</a></li>
                        <li class="nav-item"><a class="nav-link" href="#voce_sabia">Você sabia?</a></li>
                        <li class="nav-item"><a class="nav-link" href="#fale_conoso">Fale Conosco</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center">
                    <div class="col-lg-8 align-self-center">
                        <h1 class="text-white font-weight-bold">
                           W2B Law
                        </h1>
                        <div class="description">
                            <p>Se sua vida já é digital, seu escritório de advocacia também deve ser.</p>
                            <p>Usamos a tecnologia para evitar problemas e salvando seu tempo e seu dinheiro.</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- o_que_somos-->
        <section class="page-section bg-primary" id="o_que_somos">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">O que somos?</h2>
                        <hr class="divider divider-light" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="img-office mb-5"></div>
                    </div>
                    <div class="col-lg-8">
                        <div class="text-white-75 mb-2 text-justify px-3">
                            <p>
                                Bem-vindo ao nosso escritório de advocacia especializado em tecnologia! Estamos 
                                animados em apresentar nossos serviços jurídicos de ponta para empresas em um setor 
                                em constante evolução. Combinando nossa experiência em tecnologia com nosso conhecimento 
                                jurídico, estamos prontos para ajudá-lo a resolver questões legais complexas de maneira 
                                eficiente e eficaz.
                            </p>
                            <p>
                                Nosso objetivo é ajudar nossos clientes a navegar pelos complexos desafios jurídicos 
                                que enfrentam ao lidar com a tecnologia, garantindo que seus direitos e interesses 
                                estejam protegidos e seus negócios estejam em conformidade com as leis e regulamentações 
                                aplicáveis.
                            </p>
                            <p>
                                Oferecemos uma ampla gama de serviços jurídicos em tecnologia, incluindo assessoria 
                                em questões de propriedade intelectual, privacidade de dados, segurança cibernética, 
                                contratos de tecnologia, startups de tecnologia, regulação de tecnologia e litígios 
                                relacionados à tecnologia.
                            </p>
                            <p>
                                Temos uma profunda compreensão do setor de tecnologia e estamos sempre atualizados 
                                sobre as tendências e desenvolvimentos mais recentes. Nosso objetivo é fornecer aos 
                                nossos clientes soluções práticas e eficazes para ajudá-los a alcançar seus objetivos 
                                de negócios.
                            </p>
                            <p>
                                Se você está procurando por um escritório de advocacia especializado em tecnologia que 
                                oferece a combinação perfeita de experiência jurídica e conhecimento de tecnologia, não 
                                procure mais. Entre em contato conosco hoje mesmo para saber mais sobre como podemos 
                                ajudá-lo a enfrentar seus desafios legais. Estamos prontos para ajudá-lo a proteger 
                                seus interesses e crescer seus negócios no mundo digital em constante evolução.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- quem_somos-->
        <section class="page-section" id="quem_somos" v-cloak>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Quem somos?</h2>
                        <hr class="divider" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-12 col-lg-4" v-for="(professional, index) in team" :key="index">
                        <div class="card card-team" @click="professionalSelected = team[index]" data-bs-toggle="modal" data-bs-target="#professionalViewModal">
                            <img :src="professional.image" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ professional.name }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ professional.job }}</h6>
                                <p class="card-text">{{ professional.shortDescription }}</p>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- Modal profissional -->
                <div class="modal fade" id="professionalViewModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="professionalViewModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable modal-fullscreen-sm-down" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            
                            <div class="modal-body" v-if="professionalSelected">

                                <div class="row">
                                    <div class="col-1 m-auto section-arrow-icon" @click="setProfessional(professionalSelected.previous)">
                                        <img src="./assets/img/icons/left-arrow.png" class="arrow-icon">
                                    </div>

                                    <div class="col-10" id="professionalContent">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h3>{{ professionalSelected.name }}</h3>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 text-muted">
                                                        <h5>{{ professionalSelected.job }}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 text-end">
                                                <img :src="professionalSelected.image" style="height: 10vh;">
                                            </div>
                                        </div>
                                       
                                        <div class="row mt-3">
                                            <div class="col-12">
                                                <p>
                                                    {{ professionalSelected.description }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-1 m-auto section-arrow-icon" @click="setProfessional(professionalSelected.next)">
                                        <img src="./assets/img/icons/right-arrow.png" class="arrow-icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
   
        <!-- o_que_trabalhamos-->
        <section class="page-section bg-primary" id="o_que_trabalhamos">
            <div class="container px-4 px-lg-5">
                <h2 class="text-white text-center mt-0">O que trabalhamos?</h2>
                <hr class="divider divider-light" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2 icon-digital"></div>
                            <h3 class="h4 text-white mb-2">Direito Digital</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2 icon-cibernetico"></div>
                            <h3 class="h4 text-white mb-2">Ilícitos Cibernéticos</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2 icon-empresarial"></div>
                            <h3 class="h4 text-white mb-2">Direito Empresarial</h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2 icon-tributario"></div>
                            <h3 class="h4 text-white mb-2">Direito Tributário</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
        <!-- voce_sabia-->
        <section class="page-section" id="voce_sabia">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Você sabia?</h2>
                        <hr class="divider" />
                    </div>
                </div>

                <div class="row d-flex flex-wrap">
                    <div class="col-md-6 col-12 col-lg-4" v-for="(newsItem, index) in news" :key="index">
                        <div class="card card-team" @click="newsSelected = news[index]" data-bs-toggle="modal" data-bs-target="#newsViewModal">
                            <img :src="newsItem.image" class="card-img-top" style="height: 196px">
                            <div class="card-body">
                                <h5 class="card-title">{{ newsItem.name }}</h5>
                                <p class="card-text">{{ newsItem.shortDescription }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal artigos -->
            <div class="modal fade" id="newsViewModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="newsViewModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-fullscreen" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        
                        <div class="modal-body mt-5" >

                            <div class="row">
                                <img :src="newsSelected.image" class="card-img-top" alt="..." style="height: 50vh;">
                            </div>
                            <div class="news-content">
                                <div class="row">
                                    <div class="col-12">
                                        <h2>
                                            {{ newsSelected.name }}
                                        </h2>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <p v-html="newsSelected.description"> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- fale_conoso-->
        <section class="page-section bg-primary" id="fale_conoso">
            <div class="container px-4 px-lg-5">
                <h2 class="text-white text-center mt-0">Fale Conosco</h2>
                <hr class="divider divider-light" />
                <div class="row text-white">
                    <div class="col-12 col-md-7">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4890.390482180794!2d-51.18845940715728!3d-29.921088237592244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95197b747e281229%3A0x5f7f44c6b7f655cc!2sW2B%20Law!5e0!3m2!1spt-BR!2sbr!4v1678204499629!5m2!1spt-BR!2sbr" 
                            style="border:none;max-width: 100%;width: 100%;height: 50vh;" 
                            allowfullscreen="" 
                            loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade"
                        ></iframe>
                    </div>

                    <div class="col-12 col-md-5">
                        <div class="col-12">
                            <i class="bi bi-pin-map fs-3"></i>
                            <a href="https://goo.gl/maps/CHqPLSewt4KVgqqy7" target="_blank" class="contact-link">Rua Lenine Nequete, 77 - Torre B, Sala 704 - Centro, Canoas/RS</a>
                        </div>                
                       
                        <div class="col-12">
                            <i class="bi bi-envelope fs-3"></i>
                            <a href="mailto:contado@w2blaw.com.br" class="contact-link">contado@w2blaw.com.br</a>
                        </div>                
                       
                        <div class="col-12">
                            <i class="bi bi-whatsapp fs-3"></i>
                            <a target="_blank" href="https://wa.me/5551991678980?text=Ol%C3%A1.%20Encontrei%20o%20site%20do%20W2B%20Law%20e%20gostaria%20de%20entrar%20em%20contato" class="contact-link">(51) 99167-8980</a>
                        </div>                    
                     
                        <div class="col-12">
                            <i class="bi bi-telephone fs-3"></i>
                            <a target="_blank" href="+555137851502" class="contact-link">(51) 3785-1502</a>
                        </div>    
    
                        <div class="col-12">
                            <i class="bi bi-linkedin fs-3"></i>
                            <a target="_blank" href="https://linkedin.com/company/w2blaw" class="contact-link">company/w2blaw</a>
                        </div>
                        
                        <div class="col-12">
                            <i class="bi bi-instagram fs-3"></i>
                            <a target="_blank" href="https://www.instagram.com/w2blaw/" class="contact-link">@w2blaw</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Footer-->
        <footer class="bg-dark text-white y-4">
            <div class="me-5">
                <p class="text-center small">
                    Desenvolvido por NerdumIT
                </p>
            </div>
        </footer>
        <a 
            href="https://wa.me/5551991678980?text=Ol%C3%A1.%20Encontrei%20o%20site%20do%20W2B%20Law%20e%20gostaria%20de%20entrar%20em%20contato" 
            class="whatsapp-float" 
            target="_blank"
        >
            <i class="bi bi-whatsapp" style="font-size: 50px;"></i>
        </a>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <script>
            new Vue({
                el: '#quem_somos',
                data() {
                    return {
                        team: [
                            {
                                name: 'Pedro Webber',
                                job: 'Advogado',
                                description: `
                                    Advogado laureado pela Pontifícia Universidade Católica do Rio Grande do Sul. 
                                    Possui formação em Ciência da Computação pela mesma Universidade, 
                                    com mais de uma década de experiência em Tecnologia da Informação. 
                                    Além disso, possui formação de Mercado de Capitais pelo 
                                    Center for M&A Studies da Universidade de São Paulo, 
                                    Certificação Profissional Anbima - Associação Brasileira das 
                                    Entidades dos Mercados Financeiros e de Capitais e LGPD pelo LegalHub
                                `,
                                shortDescription: 'Lorem ipsum',
                                image: './assets/img/avatar.jpg',
                                previous: 3, 
                                next: 1, 
                            },
                            {
                                name: 'Rodrigo Alves Fernandes',
                                job: 'Advogado',
                                description: `
                                    Advogado formado pela Pontifícia Universidade Católica do Rio Grande do Sul. 
                                `,
                                shortDescription: 'Lorem ipsum',
                                image: './assets/img/avatar.jpg',
                                previous: 0, 
                                next: 2, 
                            },
                            {
                                name: 'Romano',
                                job: 'Marketing',
                                description: `
                                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                    Pellentesque ac sollicitudin est, sed sodales dolor. Etiam porta imperdiet augue. Suspendisse 
                                    auctor ipsum vel diam ultricies, eu imperdiet nisl pharetra. Vivamus et turpis ut sapien 
                                    efficitur ullamcorper. Integer at porta magna, id rutrum enim. Vivamus vel ex vel enim 
                                    elementum porttitor. Mauris luctus venenatis lorem, at faucibus elit luctus at. Nam porttitor 
                                    auctor nibh sit amet efficitur. Morbi eu scelerisque tortor. Sed hendrerit turpis a felis 
                                    placerat, non tempus urna tempor. Sed eu libero nec nibh auctor condimentum. Nulla varius 
                                    nibh quis turpis suscipit, at sagittis tellus dignissim.
                                    Suspendisse hendrerit ante eget massa fermentum sollicitudin. Fusce sed arcu cursus, 
                                    facilisis nisi quis, fermentum mi. Vestibulum condimentum porttitor justo id vestibulum. 
                                    Praesent malesuada erat elementum, efficitur nisi id, mattis risus. Vestibulum ante ipsum 
                                    primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec sed augue tempus, 
                                    ullamcorper purus non, egestas sapien. Etiam et luctus lacus, non blandit tellus. Sed a 
                                    pellentesque nulla. Ut cursus velit hendrerit, semper velit et, bibendum sapien. Orci varius 
                                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce sit amet 
                                    eleifend libero. Suspendisse dignissim sit amet odio sit amet iaculis. Fusce mattis ex eget 
                                    diam blandit blandit.
                                `,
                                shortDescription: 'Lorem ipsum',
                                image: './assets/img/avatar.jpg',
                                previous: 1, 
                                next: 3,
                            },
                            {
                                name: 'Eduardo Souza',
                                job: 'Analista de Sistemas',
                                description: `
                                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                    Pellentesque ac sollicitudin est, sed sodales dolor. Etiam porta imperdiet augue. Suspendisse 
                                    auctor ipsum vel diam ultricies, eu imperdiet nisl pharetra. Vivamus et turpis ut sapien 
                                    efficitur ullamcorper. Integer at porta magna, id rutrum enim. Vivamus vel ex vel enim 
                                    elementum porttitor. Mauris luctus venenatis lorem, at faucibus elit luctus at. Nam porttitor 
                                    auctor nibh sit amet efficitur. Morbi eu scelerisque tortor. Sed hendrerit turpis a felis 
                                    placerat, non tempus urna tempor. Sed eu libero nec nibh auctor condimentum. Nulla varius 
                                    nibh quis turpis suscipit, at sagittis tellus dignissim.
                                    Suspendisse hendrerit ante eget massa fermentum sollicitudin. Fusce sed arcu cursus, 
                                    facilisis nisi quis, fermentum mi. Vestibulum condimentum porttitor justo id vestibulum. 
                                    Praesent malesuada erat elementum, efficitur nisi id, mattis risus. Vestibulum ante ipsum 
                                    primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec sed augue tempus, 
                                    ullamcorper purus non, egestas sapien. Etiam et luctus lacus, non blandit tellus. Sed a 
                                    pellentesque nulla. Ut cursus velit hendrerit, semper velit et, bibendum sapien. Orci varius 
                                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce sit amet 
                                    eleifend libero. Suspendisse dignissim sit amet odio sit amet iaculis. Fusce mattis ex eget 
                                    diam blandit blandit.
                                `,
                                shortDescription: 'Lorem ipsum',
                                image: './assets/img/avatar.jpg',
                                previous: 2, 
                                next: 0,
                            }
                        ],
                        professionalSelected: null,
                    }
                },
                created(){
                    this.professionalSelected =  this.team[0];
                },
                methods: {
                    setProfessional(index){
                        $('#professionalContent').fadeOut();
                        setTimeout(() => {
                            $('#professionalContent').fadeIn(1500);
                            this.professionalSelected = this.team[index];
                        }, "300")
                    }
                },
            });
           
            new Vue({
                el: '#voce_sabia',
                data() {
                    return {
                        news: [
                            {
                                name: 'Como Preparar minha empresa para a reforma tributária',
                                description: `
                                    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                    Pellentesque ac sollicitudin est, sed sodales dolor. Etiam porta imperdiet augue. Suspendisse </p>
                                    <p>auctor ipsum vel diam ultricies, eu imperdiet nisl pharetra. Vivamus et turpis ut sapien 
                                    efficitur ullamcorper. Integer at porta magna, id rutrum enim. Vivamus vel ex vel enim </p>
                                    <p>elementum porttitor. Mauris luctus venenatis lorem, at faucibus elit luctus at. Nam porttitor 
                                    auctor nibh sit amet efficitur. Morbi eu scelerisque tortor. Sed hendrerit turpis a felis </p>
                                    <p>placerat, non tempus urna tempor. Sed eu libero nec nibh auctor condimentum. Nulla varius 
                                    nibh quis turpis suscipit, at sagittis tellus dignissim.</p>
                                    <p>Suspendisse hendrerit ante eget massa fermentum sollicitudin. Fusce sed arcu cursus, 
                                    facilisis nisi quis, fermentum mi. Vestibulum condimentum porttitor justo id vestibulum. </p>
                                    <p>Praesent malesuada erat elementum, efficitur nisi id, mattis risus. Vestibulum ante ipsum 
                                    primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec sed augue tempus, </p>
                                    <p>ullamcorper purus non, egestas sapien. Etiam et luctus lacus, non blandit tellus. Sed a 
                                    pellentesque nulla. Ut cursus velit hendrerit, semper velit et, bibendum sapien. Orci varius </p>
                                    <p>natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce sit amet 
                                    eleifend libero. Suspendisse dignissim sit amet odio sit amet iaculis. Fusce mattis ex eget </p>
                                    <p>diam blandit blandit.</p>
                                `,
                                shortDescription: `Quando se fala em reforma tributária no Brasil, políticos, empresários e a população em geral ficam apreensivos.`,
                                image: './assets/img/artigos/image-1.jpg',
                            },
                            {
                                name: 'AUMENTO DAS ALÍQUOTAS DE PIS E COFINS: ',
                                description: `
                                    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                    Pellentesque ac sollicitudin est, sed sodales dolor. Etiam porta imperdiet augue. Suspendisse </p>
                                    <p>auctor ipsum vel diam ultricies, eu imperdiet nisl pharetra. Vivamus et turpis ut sapien 
                                    efficitur ullamcorper. Integer at porta magna, id rutrum enim. Vivamus vel ex vel enim </p>
                                    <p>elementum porttitor. Mauris luctus venenatis lorem, at faucibus elit luctus at. Nam porttitor 
                                    auctor nibh sit amet efficitur. Morbi eu scelerisque tortor. Sed hendrerit turpis a felis </p>
                                    <p>placerat, non tempus urna tempor. Sed eu libero nec nibh auctor condimentum. Nulla varius 
                                    nibh quis turpis suscipit, at sagittis tellus dignissim.</p>
                                    <p>Suspendisse hendrerit ante eget massa fermentum sollicitudin. Fusce sed arcu cursus, 
                                    facilisis nisi quis, fermentum mi. Vestibulum condimentum porttitor justo id vestibulum. </p>
                                    <p>Praesent malesuada erat elementum, efficitur nisi id, mattis risus. Vestibulum ante ipsum 
                                    primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec sed augue tempus, </p>
                                    <p>ullamcorper purus non, egestas sapien. Etiam et luctus lacus, non blandit tellus. Sed a 
                                    pellentesque nulla. Ut cursus velit hendrerit, semper velit et, bibendum sapien. Orci varius </p>
                                    <p>natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce sit amet 
                                    eleifend libero. Suspendisse dignissim sit amet odio sit amet iaculis. Fusce mattis ex eget </p>
                                    <p>diam blandit blandit.</p>
                                `,
                                shortDescription: `No final de 2022 foi promulgado o Decreto nº 11.322/22, que reduziu de forma ...`,
                                image: './assets/img/artigos/image-2.jpg',
                            },
                            {
                                name: '5 MUDANÇAS DA REFORMA TRIBUTÁRIA QUE DEVEM IMPACTAR OS EMPRESÁRIOS ',
                                description: `
                                    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                    Pellentesque ac sollicitudin est, sed sodales dolor. Etiam porta imperdiet augue. Suspendisse </p>
                                    <p>auctor ipsum vel diam ultricies, eu imperdiet nisl pharetra. Vivamus et turpis ut sapien 
                                    efficitur ullamcorper. Integer at porta magna, id rutrum enim. Vivamus vel ex vel enim </p>
                                    <p>elementum porttitor. Mauris luctus venenatis lorem, at faucibus elit luctus at. Nam porttitor 
                                    auctor nibh sit amet efficitur. Morbi eu scelerisque tortor. Sed hendrerit turpis a felis </p>
                                    <p>placerat, non tempus urna tempor. Sed eu libero nec nibh auctor condimentum. Nulla varius 
                                    nibh quis turpis suscipit, at sagittis tellus dignissim.</p>
                                    <p>Suspendisse hendrerit ante eget massa fermentum sollicitudin. Fusce sed arcu cursus, 
                                    facilisis nisi quis, fermentum mi. Vestibulum condimentum porttitor justo id vestibulum. </p>
                                    <p>Praesent malesuada erat elementum, efficitur nisi id, mattis risus. Vestibulum ante ipsum 
                                    primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec sed augue tempus, </p>
                                    <p>ullamcorper purus non, egestas sapien. Etiam et luctus lacus, non blandit tellus. Sed a 
                                    pellentesque nulla. Ut cursus velit hendrerit, semper velit et, bibendum sapien. Orci varius </p>
                                    <p>natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce sit amet 
                                    eleifend libero. Suspendisse dignissim sit amet odio sit amet iaculis. Fusce mattis ex eget </p>
                                    <p>diam blandit blandit.</p>
                                `,
                                shortDescription: `Confira 5 mudanças da reforma tributária que podem impactar as atividades empresariais.`,
                                image: './assets/img/artigos/image-3.jpg',
                            },
                            {
                                name: '5 MUDANÇAS DA REFORMA TRIBUTÁRIA QUE DEVEM IMPACTAR OS EMPRESÁRIOS ',
                                description: `
                                    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                                    Pellentesque ac sollicitudin est, sed sodales dolor. Etiam porta imperdiet augue. Suspendisse </p>
                                    <p>auctor ipsum vel diam ultricies, eu imperdiet nisl pharetra. Vivamus et turpis ut sapien 
                                    efficitur ullamcorper. Integer at porta magna, id rutrum enim. Vivamus vel ex vel enim </p>
                                    <p>elementum porttitor. Mauris luctus venenatis lorem, at faucibus elit luctus at. Nam porttitor 
                                    auctor nibh sit amet efficitur. Morbi eu scelerisque tortor. Sed hendrerit turpis a felis </p>
                                    <p>placerat, non tempus urna tempor. Sed eu libero nec nibh auctor condimentum. Nulla varius 
                                    nibh quis turpis suscipit, at sagittis tellus dignissim.</p>
                                    <p>Suspendisse hendrerit ante eget massa fermentum sollicitudin. Fusce sed arcu cursus, 
                                    facilisis nisi quis, fermentum mi. Vestibulum condimentum porttitor justo id vestibulum. </p>
                                    <p>Praesent malesuada erat elementum, efficitur nisi id, mattis risus. Vestibulum ante ipsum 
                                    primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec sed augue tempus, </p>
                                    <p>ullamcorper purus non, egestas sapien. Etiam et luctus lacus, non blandit tellus. Sed a 
                                    pellentesque nulla. Ut cursus velit hendrerit, semper velit et, bibendum sapien. Orci varius </p>
                                    <p>natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce sit amet 
                                    eleifend libero. Suspendisse dignissim sit amet odio sit amet iaculis. Fusce mattis ex eget </p>
                                    <p>diam blandit blandit.</p>
                                `,
                                shortDescription: `Confira 5 mudanças da reforma tributária que podem impactar as atividades empresariais.`,
                                image: './assets/img/artigos/image-3.jpg',
                            },
                        ],
                        newsSelected: null,
                    }
                },
                created(){
                    this.newsSelected =  this.news[0];
                },
                methods: {
                    setNews(index){
                        this.newsSelected = this.news[index];
                    }
                },
            });
        
            $(".arrow-icon").hover(

                function(){
                    $(this).parent().css("background", "rgb(122 122 123 / 36%)");
                }
                ,
                function(){
                    $(this).parent().css("background", "none");
                }

            );
        </script>
     
    </body>
</html>
<!-- https://icons8.com/icons/set/bootstrap -->